* {
    box-sizing: border-box;
}
.whole-container {
    display: flex;
    width: 90%;
    margin: 10% auto;
    flex-direction: column;
}
.urlholder, .con h1 {
    text-align: center;
}
picture img {
    width: 100%; 
    
}
.urlholder h1 {
    word-break: break-all;
}

.trfl {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}

.con {
    width: 25%;
    border-style: solid;
    border-color: dimgray;
    padding: 20px;
}

@media screen and (max-width: 1240px) {
    .whole-container {
        width: 95%;
    }
    .con {
        padding: 12px;
    }
}

@media screen and (max-width: 880px) { 
    .trfl .con {
        width: 48%;
        margin-bottom: 10%;
    }
    .trfl {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 750px) { 
    .urlholder h1 {
        font-size: 24px;
    }
}
@media screen and (max-width: 550px) { 
    .trfl .con {
        width: 100%;
    }
    .urlholder h1 {
        font-size: 20px;
    }
}

