* {
    box-sizing: border-box;
}

@font-face {
    font-family: "league_gothic";
    src:
      local("League_Gothic"),
      url("custom-fonts/League_Gothic.otf") format("opentype"),
  }

.whole-container {
    display: flex;
    width: 90%;
    margin: 5% auto;
    flex-direction: column;
}
img {
    max-width: 100%;
}
.stages {
    width:100%;
    display: flex;
    justify-content: space-between;
    
}
.stages div {
    width: 45%;
    display: block;
}
.title {
    text-align: center;
    font-size: 80px;
    font-family: league_gothic;
    letter-spacing: 4px;
}
p, li, h1 a, h2 {
    font-family: Helvetica, Arial, sans-serif;
}
.urlholder, .con h1, h2 {
    text-align: center;
}
picture img {
    width: 100%; 
    
}
.urlholder h1 {
    background-color: rgb(188, 206, 234);
    padding: 10px;
    color: black;
    display: inline-block;
}

.urlholder h1 a {
    color: black;
    margin-bottom: 50px;
}

.urlholder h1 a:hover {
    color: dimgray;
}
.urlholder h1:hover {
background-color:rgba(188, 206, 234, .7) ;
}
.trfl {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   gap: 2%;
}

.con {
    width: 25%;
    border-style: solid;
    border-color: dimgray;
    padding: 20px;
}

.con h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;

}
@media screen and (max-width: 1240px) {
    .whole-container {
        width: 95%;
    }
    .con {
        padding: 12px;
    }
}

@media screen and (max-width: 880px) { 
    .trfl .con {
        width: 48%;
        margin-bottom: 10%;
    }
    .trfl {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 750px) { 
    .urlholder h1 {
        font-size: 24px;
    }
    .stages {
        flex-direction: column;
    }
    .stages div {
        width: 100%;
    }
    .title {
        font-size: 60px;
    }
}
@media screen and (max-width: 550px) { 
    .trfl .con {
        width: 100%;
    }
    .urlholder h1 {
        font-size: 20px;
    }
}

